In [1]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode
import pandas as pd
print (__version__) # requires version >= 1.9.0
init_notebook_mode(connected=True)
import plotly.offline as py
#import plotly.figure_factory as ff
import plotly.graph_objs as go

df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")
#table = ff.create_table(df)
#py.iplot(table, filename='jupyter-table1', show_link = False)
df.shape[0]
df.head()

ModuleNotFoundError: No module named 'plotly'

In [8]:
trace_women = go.Scatter(x=df.School,
                  y=df.Women,
                  name='Women',
                  marker=dict(color='#ffcdd2'))

trace_men = go.Scatter(x=df.School,
                y=df.Men,
                name='Men',
                marker=dict(color='#A2D5F2'))

trace_gap = go.Scatter(x=df.School,
                y=df.Gap,
                name='Gap',
                marker=dict(color='#59606D'))

data = [trace_women, trace_men, trace_gap]

layout = go.Layout(title="Average Earnings for Graduates",
                xaxis=dict(title='School'),
                yaxis=dict(title='Salary (in thousands)'))

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='jupyter-styled_bar')